<Config>
  <!-- Flags to control what should be skipped -->
  <SkipUEV>true</SkipUEV>
  <SkipLeftAlignStart>true</SkipLeftAlignStart>
  <SkipUpdates>false</SkipUpdates>
  <SkipWinGet>false</SkipWinGet>
  <SkipHideWidgets>false</SkipHideWidgets>
  <SkipStartLayout>false</SkipStartLayout>
  <SkipTaskbarLayout>false</SkipTaskbarLayout>
  <SkipTheme>false</SkipTheme>
  <SkipLockScreen>false</SkipLockScreen>
  <SkipAutoinstallingApps>false</SkipAutoinstallingApps>
  <SkipShowDesktopFaster>false</SkipShowDesktopFaster>
  <SkipAPv2>false</SkipAPv2>
  <SkipEdgeUpdate>false</SkipEdgeUpdate>
  <SkipRemoveCopilotPWA>true</SkipRemoveCopilotPWA>
  <SkipEnterpriseGVLK>true</SkipEnterpriseGVLK>
   <!-- Only set 'SkipDisableWidgets' to False if you want to completely disable Widgets-->
  <SkipDisableWidgets>true</SkipDisableWidgets> 

  <!-- Settings for various items-->
  <TimeZone></TimeZone>
  <RemoveApps>
    <App>Clipchamp.Clipchamp</App>
    <App>Microsoft.BingNews</App>
    <App>Microsoft.BingWeather</App>
    <App>Microsoft.GamingApp</App>
    <App>Microsoft.GetHelp</App>
    <App>Microsoft.GetStarted</App>
    <App>Microsoft.Messaging</App>
    <App>Microsoft.Microsoft3DViewer</App>
    <App>Microsoft.MicrosoftOfficeHub</App>
    <App>Microsoft.MicrosoftSolitaireCollection</App>
    <App>Microsoft.MixedReality.Portal</App>
    <App>Microsoft.MSPaint</App>
    <App>Microsoft.News</App>
    <App>Microsoft.OneConnect</App>
    <App>Microsoft.OutlookForWindows</App>
    <App>Microsoft.People</App>
    <App>Microsoft.PowerAutomateDesktop</App>
    <App>Microsoft.Print3D</App>
    <App>Microsoft.SkypeApp</App>
    <App>microsoft.windowscommunicationsapps</App>
    <App>Microsoft.WindowsFeedbackHub</App>
    <App>Microsoft.WindowsMaps</App>
    <App>Microsoft.XboxApp</App>
    <App>Microsoft.YourPhone</App>
    <App>Microsoft.ZuneMusic</App>
    <App>Microsoft.ZuneVideo</App>
    <App>Microsoft.Xbox.TCUI</App>
    <App>Microsoft.XboxApp</App>
    <App>Microsoft.XboxGameOverlay</App>
    <App>Microsoft.XboxGamingOverlay</App>
    <App>Microsoft.XboxIdentityProvider</App>
    <App>Microsoft.XboxSpeechToTextOverlay</App>
    <App>MicrosoftCorporationII.MicrosoftFamily</App>
    <App>MicrosoftTeams</App>
    <App>MSTeams</App>
    <!-- Microsoft Copilot -->
    <App>9NHT9RB2F4HD</App>
  </RemoveApps>
  <WinGetInstall>
    <Id>Google.Chrome</Id>
    <!-- Microsoft 365 Copilot -->
    <Id>9WZDNCRD29V9</Id>
  </WinGetInstall>
  <OneDriveSetup>https://go.microsoft.com/fwlink/?linkid=844652</OneDriveSetup>
  <OneDriveARMSetup>https://go.microsoft.com/fwlink/?linkid=2282608</OneDriveARMSetup>
  <EdgeBusinessMSI>https://go.microsoft.com/fwlink/?LinkID=2093437</EdgeBusinessMSI>
  <EdgeBusinessARM></EdgeBusinessARM>
  <AddFeatures>
    <Feature>Microsoft.Windows.Sense.Client~~~~</Feature>
    <!-- If you do add a language pack, make sure you add these language add-ons for each one.
    <Feature>Language.Basic~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.Fonts.PanEuropeanSupplementalFonts~~~~0.0.1.0</Feature>
    <Feature>Language.Handwriting~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.OCR~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.Speech~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.TextToSpeech~~~es-ES~0.0.1.0</Feature>
    -->
    <Feature>WMIC</Feature>
    <!-- If you want .NET 3.5, uncomment this one.
    <Feature>NetFX3~~~~</Feature>
    -->
  </AddFeatures>
  <!-- This section defines a list of Optional Features to disable. Add the Name of the feature as returned by Get-WindowsOptionalFeature -->
  <DisableOptionalFeatures>
    <Feature>MicrosoftWindowsPowershellV2Root</Feature>
    <Feature>WorkFolders-Client</Feature>
    <Feature>Recall</Feature>
    <Feature>MediaPlayback</Feature>
  </DisableOptionalFeatures>
  <!-- This section defines a list of Windows Capabilities to remove. Provide the name of the Capability to have it removed as returned by Get-WindowsCapability, excluding the tildes and version.  -->
  <RemoveCapability>
    <Capability>App.StepsRecorder</Capability>
    <Capability>Microsoft.Windows.PowerShell.ISE</Capability>
  </RemoveCapability>
  <Language></Language>
  <!-- If you want to set a language, customize and reference this file: <Language>Language.xml</Language> -->
  <DefaultApps>Associations.xml</DefaultApps>
  <RegisteredOwner>Autopilot User</RegisteredOwner>
  <RegisteredOrganization>Contoso</RegisteredOrganization>
  <OEMInfo>
    <Manufacturer>Contoso</Manufacturer>
    <Model>PC</Model>
    <Logo>Contoso.bmp</Logo>
    <SupportPhone>+1 800-555-1212</SupportPhone>
    <SupportHours>8am-5pm PST</SupportHours>
    <SupportURL>http://www.contoso.com</SupportURL>
  </OEMInfo>
</Config>
