<Config>
  <TimeZone></TimeZone>

  <!-- Uncomment to remove apps
  <RemoveApps>
    <App>Microsoft.BingWeather</App>
    <App>Microsoft.DesktopAppInstaller</App>
    <App>Microsoft.BingWeather</App>
    <App>Microsoft.DesktopAppInstaller</App>
    <App>Microsoft.Getstarted</App>
    <App>Microsoft.Messaging</App>
    <App>Microsoft.Microsoft3DViewer</App>
    <App>Microsoft.MicrosoftOfficeHub</App>
    <App>Microsoft.MicrosoftSolitaireCollection</App>
    <App>Microsoft.MixedReality.Portal</App>
    <App>Microsoft.MSPaint</App>
    <App>Microsoft.OneConnect</App>
    <App>Microsoft.Print3D</App>
    <App>Microsoft.SkypeApp</App>
    <App>microsoft.windowscommunicationsapps</App>
    <App>Microsoft.WindowsFeedbackHub</App>
    <App>Microsoft.XboxApp</App>
    <App>Microsoft.YourPhone</App>
    <App>Microsoft.ZuneMusic</App>
    <App>Microsoft.ZuneVideo</App>
  </RemoveApps>
  -->

  <!-- Uncomment to update OneDrive
  <OneDriveSetup>https://go.microsoft.com/fwlink/?linkid=844652</OneDriveSetup>
  -->

  <!-- If you do add a language pack, make sure you add these language add-ons for each one.
  <AddFeatures>
    <Feature>Language.Basic~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.Fonts.PanEuropeanSupplementalFonts~~~~0.0.1.0</Feature>
    <Feature>Language.Handwriting~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.OCR~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.Speech~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.TextToSpeech~~~es-ES~0.0.1.0</Feature>
    <Feature>NetFX3~~~~</Feature> 
  </AddFeatures>
  -->

  <!-- If you want to set a language, customize Language.xml and reference the file
  <Language>Language.xml</Language>
  -->

  <DefaultApps>Associations.xml</DefaultApps>
  <RegisteredOwner>Georgia Division</RegisteredOwner>
  <RegisteredOrganization>The Salvation Army</RegisteredOrganization>

  <!-- Uncomment to modify OEM info
  <OEMInfo>
    <Manufacturer>Contoso</Manufacturer>
    <Model>PC</Model>
    <Logo>Contoso.bmp</Logo>
    <SupportPhone>+1 800-555-1212</SupportPhone>
    <SupportHours>8am-5pm PST</SupportHours>
    <SupportURL>http://www.contoso.com</SupportURL>
  </OEMInfo>
  -->

  <!-- If you want to set a theme and background, customize Theme.Theme and Background.jpg, and reference Theme.Theme
  <Theme>Theme.Theme</Theme>
  -->  

  <StartMenuLayout>LayoutModification.xml</StartMenuLayout>
  <DisableEdgeDesktopShortcutCreation>1</DisableEdgeDesktopShortcutCreation>
  <EnableUEV>0</EnableUEV>
  <NewNetworkWindowOff>0</NewNetworkWindowOff>
  <SearchboxTaskbarMode>0</SearchboxTaskbarMode>
  <ShowCortanaButton>0</ShowCortanaButton>
  <ShowTaskViewButton>0</ShowTaskViewButton>
  <Delete3DObjectsLink>1</Delete3DObjectsLink>

</Config>