<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LPFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LPs">
            <Component Id="cmp6EBD4218003809B71EB478538FB349EF" Directory="LPFOLDER" Guid="*">
                <File Id="filB02EE7E9ABF049D80A84ABD2B1C12D58" KeyPath="yes" Source="SourceDir\readme.txt" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>