<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="UEVFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="UEV">
            <Component Id="cmp98817892F5ABF6BB4834082CB97828D9" Directory="UEVFOLDER" Guid="*">
                <File Id="fil1CE1F3D34D1418EB606B217A2721A4A4" KeyPath="yes" Source="SourceDir\MicrosoftOffice2016Win32.xml" />
            </Component>
            <Component Id="cmp5AA8DF2555593877267F9A8067977079" Directory="UEVFOLDER" Guid="*">
                <File Id="fil6C0EFDCE6C3D89CB57D43D8BD687CAC0" KeyPath="yes" Source="SourceDir\MicrosoftOffice2016Win64.xml" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>